<!DOCTYPE html>
<html lang="en">
<head>
    <title><%= title %> </title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel=" stylesheet" href="/css/style.css">
</head>
<body>
    <figure>
        <img src="/img/Pelicula.webp" alt="Pelicula">
    </figure>
    <h1><%= title %></h1>
    <p>Bienvenidos a <%= title %></p>
    <P><a href="/movies">Listado de Peliculas</a></P>
</body>
</html>